h1 {
	font-family:arial, verdana, sans-serif;
	font-size:30px;
}
h2 {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-size:5cm;
}
p {
	font-family:arial, verdana, sans-serif;
	font-size:120%;
}
td  {
	font-family:arial, verdana, sans-serif;
	font-weight:bold;
	font-size:1em;
}

	